body{
  background: rgb(0,11,36);
  background: linear-gradient(90deg, rgba(0,11,36,0.8) 0%, rgba(121,9,82,1) 26%, rgba(255,124,0,1) 100%);
}

.app-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-evenly;
}

.app-container header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.app-container header button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.app-container header button:hover {
  background-color: #ff3f3f;
}

h1 {
  text-align: center;
  color: #ff6f61;
}